.no-margin {
    margin: 0;
}

.pre-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pre-header h3 {
    margin-top: 8px;
    margin-bottom: 16px;
}

.nav-wrapper li>a {
    font-weight: bold;
}

.card-header {
    margin-top: 0;
    font-weight: 500;
}

.card-action>a {
    font-weight: 500;
}

* {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
}

.card.small .card-image+.card-content,
.card.medium .card-image+.card-content,
.card.large .card-image+.card-content {
    max-height: 80%;
}

.small-bottom-margin {
    margin-bottom: 5px;
}

.small-top-margin {
    margin-top: 5px;
}

.tabs.tabs-transparent .tab a {
    color: rgba(255,255,255,0.5);
}

#switch-image {
    --hover: none;
    --no-hover: initial;
}

#switch-image:hover {
    --hover: initial;
    --no-hover: none;
}

.on-hover {
    display: var(--hover);
}

.off-hover {
    display: var(--no-hover);
}

a.btn {
    margin: 3px;
}

@media only screen and (min-width: 993px) {
    .right-on-large-and-up {
        text-align: right;
    }
}