@media screen {
    body {
        margin-left: 10%;
        margin-right: 10%;
    }

    #main {
        border: 1px solid #222222;
        padding: 25px;
    }
}

@media print {
    body {
    }
}

* {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --indigo: #4350B3;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.sides {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
    margin-top: 3px;
}

.half {
    width: 50%;
}

header {
    background-color: var(--indigo);
    color: white;
    -webkit-print-color-adjust: exact !important;
    padding: 15px;
}

header p.center {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}

header p.center span {
    width: 250px;
}

header p.center span:first-child {
    text-align: center;
    padding-right: 5px;
}

header p.center span:last-child {
    text-align: center;
    padding-left: 5px;
}

h1 {
    font-weight: 400;
    padding-top: 5px;
    margin: 0 0 12px 0;
    font-size: 36px;
}

h2 {
    color: var(--indigo);
    margin-bottom: 5px;
    font-weight: 400;
    margin-top: -5px;
}

h3 {
    font-weight: 400;
}

b {}

p {
    margin-top: 3px;
}

ul {
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
}

li {
    padding-top: 3px;
    padding-bottom: 3px;
}

.section {
    margin-top: 10px;
    margin-bottom: 10px;
}

.item h3 {
    margin-top: 3px;
    margin-bottom: 3px;
}

#work-experience {
    padding-top: 5px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline white;
}