@font-face {
	font-family: SegoeUILight;
	src: url(/segoeuil.ttf);
}

body {
    background-color: #3498db;
}

section {
    padding-left: 128px;
    padding-right: 128px;
    padding-top: 150px;
}

.header {
    height: 150px;
    top: 0;
    width: 100%;
    background-color: #3498db;
    color: #3498db;
    position: fixed;
    font-family: SegoeUILight;
}

.tile {
    border: 5px solid #3498db;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    float: left;
    width: 251px;
    height: 256px;
    font-family: SegoeUILight;
}

    .tile:hover {
        border: 5px solid blue;
    }

    .tile:active {
        border: 5px solid white;
    }

.widetile {
    border: 5px solid #3498db;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    float: left;
    width: 512px;
    height: 256px;
    font-family: SegoeUILight;
}

    .widetile:hover {
        border: 5px solid blue;
    }

    .widetile:active {
        border: 5px solid white;
    }

a {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
